# VS Code
**/.vscode/

# temp files
*.tmp
*.temp

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
**/*venv*/

# Pytest cache files
**/.pytest_cache/

# Ansible retry files
*.retry

# Packer cache files
**/packer_cache/

# Vagrant files
**/.vagrant/
**/*.box

# Compiled DSC files
**/*.mof

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NUNIT
*.VisualState.xml
*TestResult.xml

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# SQL Server files
*.mdf
*.ldf
*.ndf
